:root {
    --clr-primary-hsl: 158, 36%, 37%;
    --clr-primary2-hsl: 158, 36%, 20%;
    --clr-secondary-hsl: 30, 38%, 92%;

    --clr-neutral-hsl-100: 0, 0%, 100%;
    --clr-neutral-hsl-200: 228, 12%, 48%;
    --clr-neutral-hsl-300: 212, 21%, 14%;

    --clr-primary: hsl(var(--clr-primary-hsl));
    --clr-primary2: hsl(var(--clr-primary2-hsl));
    --clr-secondary: hsl(var(--clr-secondary-hsl));

    --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
    --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
    --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));

    --font-family-default: 'Montserrat', sans-serif;
    --font-family-highlight: 'Fraunces', serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img, svg {
    display: block;
    width: 100%;
}

body {
    font-family: var(--font-family-default);
    font-size: 0.875rem;
    font-weight: var(--fw-regular);
    background: var(--clr-secondary);
    color: var(--clr-neutral-200);

    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 1rem;
    line-height: 1.6;
}

@media (min-width:600px) {
    body{
        min-height: 130vh;
    }
}
}

.flex-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect (0 0 0 0);
    clip-path: inset (50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button {
    background: var(--clr-primary);
    color: var(--clr-neutral-100);
    padding: 0.75rem 1.5rem;
    border: 0;
    border-radius: 0.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    cursor: pointer;
    text-decoration: none;
}

.button:is(:hover, :focus) {
    background: var(--clr-primary2);
}

.button[data-icon="cart"]::before {
    content: "";
    background-image: url("images/icon-cart.svg");
    width: 15px;
    height: 16px;
}

.product-preview-card {
    --inside-padding: 1.5rem;
    --inside-spacing: 1rem;
    --font-size-caption: 2rem;

    background: var(--clr-neutral-100);
    border-radius: 0.6rem;
    overflow: hidden;

    display: grid;
    max-width: 600px;
}

@media (min-width:600px) {
    .product-preview-card {
        --inside-padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}
.product-details {
    display: grid;
    gap: var(--inside-spacing);
    padding: var(--inside-padding);
}

.product-category {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.product-title {
    color: var(--clr-neutral-300);
    font-family: var(--font-family-highlight);
    font-size: var(--font-size-caption);
    font-weight: var(--fw-bold);
    line-height: 1;
}

.offered-price {
    color: var(--clr-primary);
    font-family: var(--font-family-highlight);
    font-size: var(--font-size-caption);
}




